
.landingRapper{
  height: 90vh;
  background-color: aliceblue;
  width: 100%;

}
.footer{
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: bisque;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.aboutRapper{
  height: 90vh;
  background-color: darkolivegreen;
  width: 100%;
}
.contactRapper{
  height: 90vh;
  background-color: burlywood;
  width: 100%;
}
.projectRapper{
  height: 90vh;
  background-color: rgb(219, 206, 28);
  width: 100%;
}
.nav-bar li{
  list-style: none;
}
.aboutMeImage img{
  width: 100%;

}
.aboutMeImage{
  width: 30rem;
  padding: 3rem;

}

.aboutMeContent{
  max-width: 70rem;
  min-width: 30rem;
  padding: 3rem;
  font-size: 1.5em;
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}
