
.landingRapper{
  height: 90vh;
  background-color: aliceblue;
  width: 100%;

}
.footer{
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: bisque;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.aboutRapper{
  height: 90vh;
  background-color: darkolivegreen;
  width: 100%;
}
.contactRapper{
  height: 90vh;
  background-color: burlywood;
  width: 100%;
}
.projectRapper{
  height: 90vh;
  background-color: rgb(219, 206, 28);
  width: 100%;
}
.nav-bar li{
  list-style: none;
}
.aboutMeImage img{
  width: 100%;

}
.aboutMeImage{
  width: 30rem;
  padding: 3rem;

}

.aboutMeContent{
  max-width: 70rem;
  min-width: 30rem;
  padding: 3rem;
  font-size: 1.5em;
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Adjust the gap between project cards as needed */
}
.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 50rem;
}

.project-card img {
  max-width: 100%;
  
  border-radius: 8px;
}
.project-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}
.project-card a {
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.project-card a:hover {
  color: #0056b3;
}
.project-section {
  /* Add any styles for the project section container here */
  height: 70vh;
}
